
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');



*,*::before,*::after{


    box-sizing: border-box;
    font-family: "Archivo Black";
    font-weight: 400;
    font-style: normal;

}

body{
    --hue:var
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}